/.venv
/cat-video-creator/backend/vendors/brainrot/tikyou_video_generator/__pycache__
/cat-video-creator/backend/vendors/subtitles
/cat-video-creator/backend/vendors/temp
/cat-video-creator/output
/cat-video-creator/backend/vendors/moneyprinter/__pycache__
/cat-video-creator/backend/__pycache__
/cat-video-creator/backend/__pycache__
/cat-video-creator/backend/venv
cat-video-creator/backend/vendors/moneyprinter/.env
/cat-video-creator/backend/.venv
/cat-video-creator/backend/tests/__pycache__
/cat-video-creator/backend/cache
/cat-video-creator/backend/vendors/moneyprinter/cache
cat-video-creator/backend/jobs.db
.env
/backend/.venv
/backend/tests/__pycache__
/backend/vendors/moneyprinter/__pycache__
/backend/vendors/temp
/backend/vendors/moneyprinter/cache
/backend/__pycache__
/backend/vendors/subtitles
/output
/subtitles
/venv
backend/logs/app.log
backend/logs/errors.log
logs/backend.log
backend/vendors/moneyprinter/moneyprinter_6859e14a-8dd2-4def-8a68-d7912cb2dbd1TEMP_MPY_wvf_snd.mp3
