absl-py
addict
aiofiles
annotated-doc
annotated-types
anyio
assemblyai
attrs
av
babel
bcrypt
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
coloredlogs
confection
contourpy
csvw
ctranslate2
curated-tokenizers
curated-transformers
cycler
cymem
Cython
decorator
dlinfo
docopt
dtw-python
espeakng-loader
exceptiongroup
fastapi
faster-whisper
ffmpeg-python
filelock
flatbuffers
fonttools
fsspec
future
google-auth
google-genai
h11
hf-xet
httpcore
httpx
huggingface-hub
humanfriendly
idna
ImageIO
imageio-ffmpeg
iniconfig
isodate
jax
jaxlib
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
kokoro
langcodes
language-tags
language_data
llvmlite
loguru
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
misaki
ml_dtypes
more-itertools
moviepy
mpmath
murmurhash
networkx
num2words
numba
numpy
onnxruntime
openai-whisper
opencv-contrib-python
opencv-python
opt_einsum
packaging
phonemizer-fork
pillow
platformdirs
pluggy
polars
polars-runtime-32
preshed
proglog
prometheus_client
protobuf
psutil
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
pysubs2
pytesseract
pytest
python-dateutil
python-dotenv
python-multipart
PyYAML
rdflib
referencing
regex
requests
rfc3986
rich
rpds-py
rsa
safetensors
scenedetect
scipy
segments
sentencepiece
sentry-sdk
shellingham==1.5.4
six
smart_open
sniffio
sounddevice
soundfile
spacy
spacy-curated-transformers
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
srt
srt_equalizer
stable-ts
starlette
structlog
sympy
tenacity
termcolor
thinc
tiktoken
tokenizers
tomli
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchaudio
torchvision
tqdm
transformers
typer
typing-inspection
typing_extensions
ultralytics
ultralytics-thop
uritemplate
urllib3
uvicorn
wasabi
weasel
websockets
whisper-timestamped
wrapt
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git@master
